body{font-family:Arial;background:#eee;}
.container{max-width:900px;margin:auto;background:white;padding:20px;}
.logo{width:100%;max-height:120px;object-fit:contain;}
table{width:100%;border-collapse:collapse;}
th,td{border:1px solid #aaa;padding:6px;text-align:center;}
.botones{margin:10px 0;display:flex;gap:10px;}
.totales{width:300px;margin-left:auto;font-weight:bold;}

@media print{
  button,input,select,a{display:none;}
  body{background:white;}
}
